#string {
	width: 24rem;
}

.input-container {
	display: grid;
	gap: 0.125rem;
}

.result {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.result-div {
	position: relative;
}

.result-item {
	padding: 0.5rem;
	padding-top: 1rem;
	background-color: #f7ffbe;
	min-width: 10rem;
}

.heading {
	position: absolute;
	top: -10px;
	left: 15px;
	font-size: 0.75rem;
	background: #000;
	color: #fff;
	padding: 0.25rem;
}
